* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

.banner{
    color: white;
    padding: 6px;
    background-color: darkgrey;
    border-radius: 7px;
}

.flex{
    display: flex;
}

/* fine common */

/* main */

body .container{
    background-color: black;
    width: 100%;
    height: 100vh;
}

main{
    width: 100%;
    height: calc(100% - 9vh);
}

main .screen-black{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

main .screen-black .speaker-view{
    position: absolute;
    top: 10px;
    right: 10px;
}

main .screen-black .arrow{
    text-align: center;
    margin: 0 20px;
}

main .screen-black .fa-caret-left,
main .screen-black .fa-caret-right{
    font-size: 3em;
}

main .view-cam{
    width: 85%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

main .view-cam .view{
    position: relative;
    width: calc(100% / 5 - 10px);
    height: calc(100% / 5 - 10px);
    margin: 0 auto;
    margin: 5px;
    background-size: cover;
}

main .view-cam .cam1{
    background-image: url("../img/sedia1.png");
}
main .view-cam .cam2{
    background-image: url("../img/sedia2.png");
}
main .view-cam .cam3{
    background-image: url("../img/sedia3.png");
}
main .view-cam .cam4{
    background-image: url("../img/sedia4.png");
}
main .view-cam .cam5{
    background-image: url("../img/papera5.png");
}

main .view-cam .name{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 0 7px;
    font-size: 0.8em;
}

main .view-cam .name .fa-microphone{
    position: relative;
    padding: 0 4px 0 2px;
}

main .view-cam .name .fa-slash{
    position: absolute;
    color: red;
    bottom: 1px;
    left: 4px;
    padding-left: 2px;
}

/* fine main */

/* inizio footer */

footer {
    width: 100%;
    height: 9vh;
    background-color: darkslategrey;
}

.footer-icon{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.footer-icon .fa-chevron-up{
    margin:0 10px;
}

.footer-icon .fa-microphone{
    font-size: 2.5em;
}

.footer-icon .icon-text{
    text-align: center;
    margin-left: 30px;
}

.footer-icon .flex .central-arrow{
    line-height: 5vh;
}

.footer-icon .icon-right .fa-chevron-up{
    margin-right: 30px;
}

